/* Assignment 1*/
/*
div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.assign-1-shape-1 {
    background-color: blueviolet; /* 138, 43 226 8a2be2 
    background-color: rgb(138 43 226);
    background-color: hsl(271 76 53);
    background-color: #8A2BE2;
}

.assign-1-shape-2 {
    background-color: rgb(138 43 226 / 50%);
}

.assign-1-shape-3 {
    background-color: rgb(138 43 226 / 10%);
}
*/

/* Assignment 2 */
/*
div {
    width: 400px;
    height: 400px;
    background-image: url("../img/css-assignment-5-8.png")
}

.assign-2-shape-1 {
    background-repeat: no-repeat;
}
.assign-2-shape-2 {
    background-repeat: repeat-y;
}
.assign-2-shape-3 {
    background-repeat: repeat-x;
}
*/

/* Assignment 3 */
/*
div {
    width: 400px;
    height: 400px;
    background-image: url("../img/css-assignment-5-8.png")
}

.assign-3-shape-1 {
    background-repeat: no-repeat;
}
.assign-3-shape-2 {
    background-position: top right;
    background-repeat: repeat-y;
}
.assign-3-shape-3 {
    background-position: bottom right;
    background-repeat: repeat-x;
}
*/

/* Assignment 4 */
div {
    width: 400px;
    height: 400px;
    background-image: url("../img/css-assignment-5-8.png");
    background-color: gray;
}

.assign-4-shape-1 {
    background-repeat: no-repeat;
    background-size: 80%;
}

.assign-4-shape-2 {
    background-position: bottom right;
    background-size: 80%;
    background-repeat: repeat-y;
}

.assign-4-shape-3 {
    background-position: bottom center;
    background-size: 80%;
    background-repeat: repeat-x;
}

.assign-4-shape-4 {
    background-position: bottom right;
    background-size: 50%;
    background-repeat: no-repeat;
}