.container {
    border: 2px solid black;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.black {
    background-color: black;
}
