body {
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #2196F3;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

a::before {
    content: "Name: " attr(title) " | URL: " attr(href);
}

.text {
    font-size: 60px;
    text-transform: capitalize;
    color: transparent;
    background-image: linear-gradient(to bottom, red, yellow);
    font-weight: bold;
    background-clip: text;
}