* {
    box-sizing: border-box;
}

ul, li {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

ul {
    background-color: #EEEEEE;
    display: flex;
    padding: 5px;
    width: 300px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

li {
    width: 100%;
    background-color: white;
    margin-bottom: 5px;
    margin-left: 5px;
    counter-increment: li-count;
    padding: 5px;
    display: flex;
    align-items: center;
}

li::before {
    content: counter(li-count);
    background-color: #DDD;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 10px;
}

body > ul > li:last-child{
    background-color: #DDD;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 10px;
    margin-bottom: 0px;
}

body > ul > li:last-child::before {
    background-color: white;
}

li > ul {
    width: 100%;
    background-color: inherit;
    margin-top: 5px;
}

li > ul > li {
    counter-increment: li-count-2;
}

li > ul > li::before {
    content: counter(li-count) '.' counter(li-count-2);
    padding: 5px 5px;
    background-color: #009688;
    color: white;
}