* {
    box-sizing: border-box;
}

:root {
    --borderSize: 5px;
}

.elzero-lines {
    /* Write Your CSS Code */
    margin: 200px auto;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: white;
    position: relative;
    width: 500px;
}

.elzero-lines::before {
    content: "";
    background-color: red;
    position: absolute;
    width: calc(100% + 2 * var(--borderSize, 100px));
    height: calc(100% + 2 * var(--borderSize, 100px));
    top: calc(-2 * var(--borderSize, 100px));
    left: calc(-2 * var(--borderSize, 100px));
    z-index: -1;
    border: var(--borderSize, 100px) solid blue;
}

.elzero-lines::after {
    content: "";
    background-color: green;
    position: absolute;
    width: calc(100% + 6 * var(--borderSize, 100px));
    height: calc(100% + 6 * var(--borderSize, 100px));
    top: calc(-4 * var(--borderSize, 100px));
    left: calc(-4 * var(--borderSize, 100px));
    z-index: -2;
    border: var(--borderSize, 100px) solid black;
}

.font {
    /* font-style: italic;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    font-family: Arial, sans-serif; */
    font: italic bold 30px/1  Arial, sans-serif;
}