body {
    font-family: Arial, Helvetica, sans-serif;
}

/* .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 10%;
    row-gap: 20px;
    column-gap: 20px;
    counter-reset: div-count -1;
}

div {
    position: relative;
    font-weight: bold;
    counter-increment: div-count;
    font-size: 20px;
}

div::before {
    content: "Element";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #607D8B;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div::after {
    content: counter(div-count);
    color: white;
    position: absolute;
    left: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.grid::before {
    display: none;
}
div.grid::after {
    display: none;
} */

/* 
.layout {
    height: 100vh;
    background-color: #ddd;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: repeat(10, 1fr);
    color: white;
}

header {
    background-color: #03A9F4;
    grid-area: 1 / 1 / 2 / -1;
    padding: 15px;
}

header::before {
    content: "Header";
    margin-left: 10px;
}

section {
    background-color: #FF5722;
    grid-area: 2 / 1 / 3 / 9;
    padding: 15px;
}

section::before {
    content: "Section";
    margin-left: 10px;
}

aside {
    background-color: #607D8B;
    grid-area: 2 / 9 / 3 / -1;
    padding: 15px;
}

aside::before {
    content: "Aside";
    margin-left: 10px;
}

footer {
    background-color: #009688;
    grid-area: 3 / 1 / 3 / -1;
    padding: 15px;
}

footer::before {
    content: "Footer";
    margin-left: 10px;
} */

/* div {
    background-color: #403F3F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    column-gap: 20px;
    grid-template-rows: 1fr auto;
    row-gap: 20px;
} */
/* 
div {
    background-color: #2196F3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 20px;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 20px;
}

.eight {
    order: -10;
    grid-area: 1 / 1 / 2 / -1;
}

.two {
    order: -9;
    grid-area: 2 / 1 / 2 / 8;
}

.three {
    order: -8;
    grid-area: 2 / 8 / 2 / -1;
}

.four {
    order: -7;
    grid-area: 3 / 1 / 3 / 5;
}

.five {
    order: -6;
    grid-area: 3 / 5 / 6 / -1;
}

.six {
    order: -5;
    grid-area: 4 / 1 / 4 / 5;
}

.seven {
    order: -4;
    grid-area: 5 / 1 / 5 / 5;
}

.one {
    grid-area: 6 / 1 / 6 / -1;
} */


div {
    background-color: #E91E63;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: bold;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    grid-template-rows: repeat(2, auto);
    align-content: space-between;
}


