body {
    font-family: Arial, Helvetica, sans-serif;
}

/* .parent {
    text-align: center;
    background-color: #F2F2F4;
    width: 300px;
    height: 100px;
    padding: 10px;
    margin-top: 50px;
    transition: margin-top 0.5s;
}

.c1 {
    width: 250px;
    padding: 10px;
    background-color: #DEDEDC;
    margin: 10px auto;
    transition: margin-top 0.5s 0.5s;
}

.parent:hover {
    margin-top: 0px;
}

.parent:hover > .c1 {
    margin-top: 20px;
} */

/* div {
    color: black !important;
    background-color: #EEE !important;
    font-size: 0px !important;
    border: 0px !important;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

div::before{
    content: "Elzero";
    font-weight: bold;
    font-size: 20px;
} */


/* :root {
    --mainColor: #009688;
    --mainPadding: 10px;
}
   */
div {
    color: var(--mainColor, red);
    border: 2px solid var(--mainColor, black);
    padding: var(--mainPadding, 10px);
    margin: 10px;
    width: 500px;
}