/* .root{
    --bSize: 10px;
}

div {
    background-color: #EEEEEE;
    width: 600px;
    margin: 20px auto;
    text-align: center;
    line-height: 100%;
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: bold;
    padding: 20px;
    border-left: var(--bSize, 10px) solid #F44336;
    border-right: var(--bSize, 10px) solid #673AB7;
    position: relative;
}

div::before {
    content: "";
    width: calc(100% + 2*var(--bSize, 10px));
    height: var(--bSize, 10px);
    background-image: linear-gradient(to right, 
    #F44336 20%,
    #2196F3 20%,
    #2196F3 40%,
    #4CAF50 40%,
    #4CAF50 60%,
    #E91E63 60%,
    #E91E63 80%,
    #673AB7 80%);
    position: absolute;
    left: calc(-1 * var(--bSize, 10px));
    top: calc(-1 * var(--bSize, 10px));
}

div::after {
    content: "";
    width: calc(100% + 2*var(--bSize, 10px));
    height: var(--bSize, 10px);
    background-image: linear-gradient(to right, 
    #F44336 20%,
    #2196F3 20%,
    #2196F3 40%,
    #4CAF50 40%,
    #4CAF50 60%,
    #E91E63 60%,
    #E91E63 80%,
    #673AB7 80%);
    position: absolute;
    left: calc(-1 * var(--bSize, 10px));
    bottom: calc(-1 * var(--bSize, 10px));
}


div:first-letter {
    color: #F35043;
} */

.parent {
    width: 600px;
    margin: 0 auto;
    /* position: relative; */
    /* overflow: auto; */
}

input {
    margin: 10px;
    background-color: #EEE;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    caret-color: red;
    width: 100%;
}

input:focus {
    outline: none;
}
form{
    position: relative;
}
form::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: yellow;
    background-image: linear-gradient(to right, 
    #F44336 50%,
    #009688 50%);
    position: absolute;
    left: 10px;
    bottom: 7px;
}