p, h3 {
    margin: 0;
    font-weight: normal;
    font-size: inherit;
}


/* div.main.red {
    color: red;
    font-weight: bold;
} */


/* .parent > .child:last-child {
    color: red;
    font-weight: bold;
} */

/* .parent:nth-of-type(2) > .baby {
    color: red;
    font-weight: bold;
} */


/* 
body > div[title]:not(.no-need) {
    color: red;
    font-weight: bold;
} */

/* div:not(.no-need) > div[title]:last-child:not(.no-need) {
    color: red;
    font-weight: bold;
} */

/* div:not(.no-need) > div:nth-last-of-type(2){
    color: red;
    font-weight: bold;
} */

/* div:not(.no-need, .no-need-2) > h3 + div:nth-last-of-type(2) {
    color: red;
    font-weight: bold;
} */

:not(h3, div:last-child, div:first-child, body, html){
    color: red;
    font-weight: bold;
}
