/* Assignment 1 */
/* .parent .child .title {
    color: red;
}

.parent .title {
    color: blue;
}

.parent p, .title {
    color: green;
} */

/* Assignment 2 */
div {
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: brown;
    width: fit-content;
    max-width: 400px;
    max-height: 43px;
    overflow: hidden;
}
