/* div {
    font-size: 64px;
    text-shadow: 1px 1px 0 red, 
    3px 3px 0 blue, 
    5px 5px 0 green;
} */


/* p {
    display: block;
    margin: 10px;
    text-align: center;
}

.one {
    text-transform: uppercase;
}

.two {
    text-transform: capitalize;
}

.three {
    text-transform: lowercase;
}
 */


/* div {
    background-color: lightgray;
    padding: 10px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */


a {
    /* display: block;
    width: 100%;
    height: 100%; */
    /* width: 100%; */
    text-align: center;
    color: white;
    background-color: #009688;
    padding: 15px;
    text-decoration: none;
    border-bottom: 5px solid #00514A;
    /* following I cheated */
    display: block;
    width: 2%;
    margin-left: 50%;
    margin-top: 25%;
    text-transform: capitalize;
}