body {
    font-family: Arial, Helvetica, sans-serif;
}


/* div {
    background-color: #EEE;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 20px;
    display: inline-block;
    box-shadow: -5px -5px 0 0 #E91E63, 5px 5px 0 0 #2196F3;
    position: relative;
    counter-increment: count-div;
}

div::before{
    content: counter(count-div);
    position: absolute;
    top: -10px;
    left: calc(50% - 20px/2);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 20px;
}

div::after{
    content: "Element";
    position: absolute;
    width: 60px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 30px);
    text-align: center;
    line-height: 50px;
} */


/* div {
    width: 100px;
    height: 100px;
    background-color: #EFEFEF;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border-top-left-radius: 15px 21px;
    border-top-right-radius: 46px;
    border-bottom-right-radius: 5px 16px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 0px 8px 1px black inset;
} */


.parent {
    width: 550px;
    margin: 0 auto;
    text-align: center;
}

.p2 {
    background-color: #EEEEEE;
    width: 200px;
    height: 230px;
    padding: 10px;
    /* position: relative; */
    float: left;
}

.desc{
    background-color: #03A9F4;
    margin: 15px auto;
    margin-top: 0px;
    padding: 5px;
    width: calc(200px - 20px - 10px);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.price {
    background-color: #DDDDDD;
    width: 180px;
    height: 180px;
    line-height: 180px;
    margin: 10px auto;
    border-radius: 50%;
    font-size: 40px;
}

.separator {
    width: 50px;
    height: 250px;
    line-height: 250px;
    position: relative;
    float: left;
}

.separator::before{
    content: "";
    position: absolute;
    background-color:  #03A9F4;
    width: 2px;
    height: 250px;
    left: calc(50% - 1px);
}

.separator::after{
    content: "Or";
    position: absolute;
    background-color:  #03A9F4;
    color: white;
    width: 20px;
    height: 20px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}

.clear{
    clear: both;
}