.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-100 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle-200 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* div {
    background-color: #EEE;
} */


:root {
    --borderSize: 20px;
}

div {
    background-color: #DDD;
    padding: 20px;
    position: relative;
    width: 500px;
    margin: 30px auto;
}

.top {
    border-bottom-color: transparent;
}

.top::after{
    content: "";
    position: absolute;
    top: calc(-2 * var(--borderSize, 50px));
    left: calc(50% - 1 * var(--borderSize, 50px));
    width: 0;
    height: 0;
    border: var(--borderSize, 50px) solid transparent;
    border-bottom-color: inherit;
}

.bottom {
    border-top-color: transparent;
}

.bottom::after{
    content: "";
    position: absolute;
    bottom: calc(-2 * var(--borderSize, 50px));
    left: calc(50% - 1 * var(--borderSize, 50px));
    width: 0;
    height: 0;
    border: var(--borderSize, 50px) solid transparent;
    border-top-color: inherit;
}

.right {
    border-left-color: transparent;
}

.right::after{
    content: "";
    position: absolute;
    top: calc(50% - 1 * var(--borderSize, 50px));
    right: calc(-2 * var(--borderSize, 50px));
    width: 0;
    height: 0;
    border: var(--borderSize, 50px) solid transparent;
    border-left-color: inherit;
}

.left {
    border-right-color: transparent;
}

.left::after{
    content: "";
    position: absolute;
    top: calc(50% - 1 * var(--borderSize, 50px));
    left: calc(-2 * var(--borderSize, 50px));
    width: 0;
    height: 0;
    border: var(--borderSize, 50px) solid transparent;
    border-right-color: inherit;
}

.arrow{
    border-color: #DDD;
}