body {
    font-family: Arial, Helvetica, sans-serif;
}

/* div {
    width: 300px;
    height: 60px;
    margin: 30px auto;
    background-color: #EEE;
    text-align: center;
    line-height: 60px;
}

div:empty{
    background-color: red;
} */


/* div {
    background-color: #D4D4D4;
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
}

div:first-letter {
    visibility: hidden;
}

div::before{
    content: "1";
    position: absolute;
    background-color: red;
    color: white;
    padding: 15px 10px;
    width: 10px;
    left: -15px;
    top: 5px;
} */


/* p {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #EEE;
    text-align: left;
    width: 400px;
    position: relative;
    border-left: 5px solid #E91E63;
}

p::before {
    text-align: center;
    content: attr(data-person);
    position: absolute;
    background-color: #EEE;
    padding: 10px;
    width: 50px;
    top: 0px;
    left: -100px;
}

p::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid #E91E63;
    border-color: transparent #E91E63 transparent transparent ;
    left: -24px;
} */

p {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #EEE;
    text-align: left;
    width: 400px;
    position: relative;
    counter-increment: count-p;
    border-right: 3px solid #F44336;
}

p::before {
    content: counter(count-p);
    background-color: #F44336;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    width: 20px;
    position: absolute;
    top: 0px;
    left: -40px; /* width + 2*padding */
}