:root {
    --mainColor: #009688;
    --skewX: 13deg;
    --skewY: 15deg;
}

/* h1 {
    width: 150px;
    margin: 50px auto;
    background-color: var(--mainColor, black);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 40px;
}

h1::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 100%;
    background-color: var(--mainColor, red);
    z-index: -1;
    transform: skewX(var(--skewX)) skewY(var(--skewY));
}

h1::after {
    content: "";
    position: absolute;
    width: 95%;
    height: 100%;
    background-color: var(--mainColor, red);
    z-index: -1;
    transform: skewX(calc(-1 *var(--skewX))) skewY(calc(-1 *var(--skewY)));
} */

/* 
h1 {
    width: 150px;
    margin: 50px auto;
    background-color: var(--mainColor, black);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 40px;
}

h1::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    transform: skew(20deg, 0deg);
    z-index: -2;
}

h1::after {
    content: "";
    position: absolute;
    left: -18px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    transform: skew(20deg, 0deg);
    border-left: 7px solid white;
    z-index: -1;
}  */


/* translate(20px, 100px) -> scale(3, 3) -> skew(0, 15deg)
.class {
    matrix(3, 0.2679, 0, 3, 20, 100);
  }
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}


/* div {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #607D8B;
    border-bottom: 5px solid black;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    color: white;
    box-sizing: border-box;
}

div::before {
    content: "Elzero";
}

div::after {
    box-sizing: border-box;
    content: "";
    height: 141px;
    width: 141px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    transform-origin: top left;
    transform: rotate(-45deg);
    border-left: 3px solid white;
    border-bottom: 3px solid white;
} */

div {
    height: 200px;
    width: 200px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.h:hover {
    transform: translate(-50%, -50%) rotateY(180deg);
}

.h::before{
    content: "Front";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FA3664;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    backface-visibility: hidden;
}


.h::after {
    content: "Back";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1692FC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.v {
    transform: translate(-50%, 100%);
}

.v:hover {
    transform: translate(-50%, 100%) rotateX(180deg);
}

.v::before{
    content: "Front";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FA3664;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    backface-visibility: hidden;
}


.v::after {
    content: "Back";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1692FC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    backface-visibility: hidden;
    transform: rotateX(180deg);
}